body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.lavagna{

width: 900px;
height: 500px;
border: rgb(146, 66, 0) solid 3em;
border-radius: 10%;
background-color:snow ;
display: flex;
flex-direction: row;
flex-wrap: nowrap;

}

article{
    display: flex;
flex-direction: row;
}

.box{

border: black solid 0.1em;
width: 150px;
height: 120px;
margin: 2em;

}

.post1, .post3{
    
    text-align: center;
    background-color: rgb(232, 255, 81);
}
.post2, .post5{
    text-align: center;
    background-color: rgba(255, 18, 18, 0.878);
}
.post4, .post6{
    text-align: center;
    background-color: rgb(69, 69, 255);}

.box:hover{

    transform: translate(0.5em,0.5em);

}   

input{

background-color: transparent;
width: 120px;
border: transparent;
font-size: 20px;

}

.divisore{
    width: 170px;
height: 150px;
border: black solid;
}